ul{
	list-style-type: none; /*定义为默认标记*/
	margin: 0;  			/*检索或设置对象四边的外延边距*/
	padding:0;					/*检索或设置对象四边的内部边距 */
	overflow: hidden;			/*隐藏溢出容器的内容且不出现滚动条*/
	background-color: #363030;			/*RGB(36,30,30)*/
}
li {
	float: right;		/*对象浮动在右边*/
}

li a{
	display: block;		/*将对象指定为块元素*/
	 color: white;		/*指定字体为白色*/
	 text-align: center; 		/*内容居中对齐*/
    padding: 24px 40px;			/*上下24像素 左右边距40像素*/
    text-decoration: none; 		/*文本装饰*/
}
li a:hover{
	background-color: #101010;		/*指针悬停效果：背景颜色RGB(10,10,10)*/
}

.ul {
    list-style-type: none;		/*定义为默认标记*/
    margin: 0;					/*检索或设置对象四边的外延边距*/
    padding: 0;					/*检索或设置对象四边的内部边距 */
    overflow: hidden;			/*隐藏溢出容器的内容且不出现滚动条*/
    background-color: #363030;		
}


.head_nav_div{
    width: 60%;				/*宽度*/
    float: left;			/*左浮动*/
    line-height: 68px;
}
.h1{
	width:100%;
	color: #00FFFF;

}

.head_nav{
    margin: 0 auto;
}

.head{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    background-color: #f3f7fa;
    height: 70px;
    filter:alpha(opacity=90);		/*滤镜效果*/
    -moz-opacity:0.9;
    opacity:0.9;
    -khtml-opacity: 0.9;  
}

.clear{
    clear: both;
}