.head_nav_div{
    width: 60%;
    float: left;
    line-height: 68px;
}
.h1{
	width:100%;
	color: #00FFFF;
	
}
.head{
	position: fixed;
    top: 0;
    left: 0;
	background-color: #f3f7fa;
	width: 100%;
	opacity:0.9; 
}